gateway/node-red/flows.json
[
    {
        "id": "tab-airsafe",
        "type": "tab",
        "label": "AirSafe-ECIES",
        "disabled": false,
        "info": "Descifrado ECIES de la telemetria del ESP32-S3 y reenvio a Google Apps Script."
    },
    {
        "id": "mqtt-broker",
        "type": "mqtt-broker",
        "name": "Mosquitto local",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "node-red-airsafe",
        "autoConnect": true,
        "usetls": false,
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "sub-telemetria",
        "type": "mqtt in",
        "z": "tab-airsafe",
        "name": "airsafe/telemetria",
        "topic": "airsafe/telemetria",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt-broker",
        "x": 150,
        "y": 120,
        "wires": [["fn-ecies-decrypt"]]
    },
    {
        "id": "fn-ecies-decrypt",
        "type": "function",
        "z": "tab-airsafe",
        "name": "ECIES Decrypt",
        "func": "// ─── Descifrado ECIES (contraparte del firmware ESP32-S3) ───\n// Envoltura recibida: { epk, iv, ct }  (los tres en Base64)\n//   epk = clave publica EFIMERA del nodo (SEC1, 0x04||X||Y, 65 B)\n//   iv  = vector inicial del contador CTR (16 B)\n//   ct  = ciphertext AES-128-CTR\nconst crypto = global.get('crypto') || require('crypto');\n\n// Clave privada estatica del backend (escalar de 32 bytes, hex).\n// Cargada desde la variable de entorno BACKEND_PRIV_KEY_HEX (ver settings.js).\nconst privHex = env.get('BACKEND_PRIV_KEY_HEX');\nif (!privHex) {\n    node.error('Falta BACKEND_PRIV_KEY_HEX', msg);\n    return null;\n}\n\nconst env_ = msg.payload;\nconst epk = Buffer.from(env_.epk, 'base64');   // 65 bytes\nconst iv  = Buffer.from(env_.iv,  'base64');   // 16 bytes\nconst ct  = Buffer.from(env_.ct,  'base64');\n\ntry {\n    // 1) ECDH: secreto compartido = ECDH(priv_B, epk) → coordenada X (32 B)\n    const ecdh = crypto.createECDH('prime256v1');     // P-256 / secp256r1\n    ecdh.setPrivateKey(Buffer.from(privHex, 'hex'));\n    const shared = ecdh.computeSecret(epk);\n\n    // 2) KDF: clave AES-128 = SHA-256(shared)[0:16]\n    const key = crypto.createHash('sha256').update(shared).digest().slice(0, 16);\n\n    // 3) AES-128-CTR: descifrar\n    const decipher = crypto.createDecipheriv('aes-128-ctr', key, iv);\n    const plain = Buffer.concat([decipher.update(ct), decipher.final()]);\n\n    // 4) JSON de telemetria en claro\n    msg.payload = JSON.parse(plain.toString('utf8'));\n    msg.decrypted = true;\n    return msg;\n} catch (e) {\n    node.error('Fallo ECIES decrypt: ' + e.message, msg);\n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 120,
        "wires": [["fn-etl", "dbg-telemetria"]]
    },
    {
        "id": "fn-etl",
        "type": "function",
        "z": "tab-airsafe",
        "name": "ETL → payload Sheets",
        "func": "// Normaliza la telemetria descifrada al esquema que espera Apps Script.\nconst d = msg.payload;\nmsg.payload = {\n    timestamp: new Date().toISOString(),\n    temp:       d.temp,\n    humedad:    d.hum,\n    presion:    d.pres,\n    mq2_ppm:    d.mq2_ppm,\n    mq135_ppm:  d.mq135_ppm,\n    alerta_gas: d.gas_alert === true\n};\nmsg.headers = { 'Content-Type': 'application/json' };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 120,
        "wires": [["http-appscript"]]
    },
    {
        "id": "http-appscript",
        "type": "http request",
        "z": "tab-airsafe",
        "name": "POST Apps Script",
        "method": "POST",
        "ret": "obj",
        "url": "https://script.google.com/macros/s/REEMPLAZAR_DEPLOYMENT_ID/exec",
        "tls": "",
        "x": 880,
        "y": 120,
        "wires": [["dbg-cloud"]]
    },
    {
        "id": "dbg-telemetria",
        "type": "debug",
        "z": "tab-airsafe",
        "name": "telemetria descifrada",
        "active": true,
        "console": false,
        "complete": "payload",
        "x": 650,
        "y": 60,
        "wires": []
    },
    {
        "id": "dbg-cloud",
        "type": "debug",
        "z": "tab-airsafe",
        "name": "respuesta Sheets",
        "active": true,
        "complete": "payload",
        "x": 1110,
        "y": 120,
        "wires": []
    },
    {
        "id": "sub-alerta",
        "type": "mqtt in",
        "z": "tab-airsafe",
        "name": "airsafe/alerta",
        "topic": "airsafe/alerta",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt-broker",
        "x": 140,
        "y": 260,
        "wires": [["fn-ecies-decrypt-alerta"]]
    },
    {
        "id": "fn-ecies-decrypt-alerta",
        "type": "function",
        "z": "tab-airsafe",
        "name": "ECIES Decrypt (alerta)",
        "func": "// Mismo descifrado ECIES para el canal de alerta inmediata.\nconst crypto = global.get('crypto') || require('crypto');\nconst privHex = env.get('BACKEND_PRIV_KEY_HEX');\nif (!privHex) { node.error('Falta BACKEND_PRIV_KEY_HEX', msg); return null; }\nconst e_ = msg.payload;\ntry {\n    const ecdh = crypto.createECDH('prime256v1');\n    ecdh.setPrivateKey(Buffer.from(privHex, 'hex'));\n    const shared = ecdh.computeSecret(Buffer.from(e_.epk, 'base64'));\n    const key = crypto.createHash('sha256').update(shared).digest().slice(0, 16);\n    const decipher = crypto.createDecipheriv('aes-128-ctr', key, Buffer.from(e_.iv, 'base64'));\n    const plain = Buffer.concat([decipher.update(Buffer.from(e_.ct, 'base64')), decipher.final()]);\n    msg.payload = JSON.parse(plain.toString('utf8'));\n    node.warn('⚠ ALERTA DE GAS: ' + JSON.stringify(msg.payload));\n    return msg;\n} catch (err) {\n    node.error('Fallo ECIES alerta: ' + err.message, msg);\n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 260,
        "wires": [["fn-etl-alerta", "dbg-alerta"]]
    },
    {
        "id": "fn-etl-alerta",
        "type": "function",
        "z": "tab-airsafe",
        "name": "ETL alerta",
        "func": "const d = msg.payload;\nmsg.payload = {\n    timestamp: new Date().toISOString(),\n    temp: d.temp, humedad: d.hum, presion: d.pres,\n    mq2_ppm: d.mq2_ppm, mq135_ppm: d.mq135_ppm,\n    alerta_gas: true\n};\nmsg.headers = { 'Content-Type': 'application/json' };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 260,
        "wires": [["http-appscript-alerta"]]
    },
    {
        "id": "http-appscript-alerta",
        "type": "http request",
        "z": "tab-airsafe",
        "name": "POST alerta",
        "method": "POST",
        "ret": "obj",
        "url": "https://script.google.com/macros/s/REEMPLAZAR_DEPLOYMENT_ID/exec",
        "x": 880,
        "y": 260,
        "wires": [["dbg-alerta"]]
    },
    {
        "id": "dbg-alerta",
        "type": "debug",
        "z": "tab-airsafe",
        "name": "log alerta",
        "active": true,
        "complete": "payload",
        "x": 1090,
        "y": 260,
        "wires": []
    }
]
